[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pytest = "*"
pydantic = "*"
flask-pydantic = "*"
datetime = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
